{% block Main %}<?xml version="1.0" encoding="UTF-8"?>
<listings>
  <title>{{ feed.settings.set_feed_title }}</title>
  <link rel="self" href="{{ feed.settings.set_feed_link }}" />

	{% for product in products%}
	<listing>
		<vehicle_id>{{ product.item_id }}</vehicle_id>
		<title><![CDATA[{{ product.year }} {{ product.brand_name }} {{ product.model_name }}]]></title>
		<description><![CDATA[{{ product.description }}]]></description>
		<url>{{ product.link }}</url>

		<make>{{ product.brand_name }}</make>
		<model>{{ product.model_name }}</model>
		<year>{{ product.year }}</year>
		<mileage>
			<value>{{ product.mileage }}</value>
			<unit>KM</unit>
		</mileage>
		<drivetrain>{{ product.drivetrain }}</drivetrain>
		<transmission>{{ product.transmission }}</transmission>
		<vin>{{ product.vin }}</vin>
		<body_style>{{ product.body_style }}</body_style>
		<fuel_type>{{ product.fuel }}</fuel_type>

		{% for image in product.images %}
		<image>
			<url>{{ image }}</url>
		</image>
		{% endfor %}

		{% for option in product.options %}
		<features>
			<value>{{ option }}</value>
		</features>
		{% endfor %}

		{% set price = product.price_sale|formatprice('split')%}

		<price>{{ price.num }} CAD</price>

		<dealer_id>{{ feed.settings.set_dealer_id}}</dealer_id>

		<exterior_color>{{ product.color|join(',') }}</exterior_color>
		<state_of_vehicle>{{ product.cat }}</state_of_vehicle>

		<fb_page_id>{{ feed.settings.set_feed_pid }}</fb_page_id>
	    <dealer_communication_channel>LEAD_FORM</dealer_communication_channel>
		<dealer_privacy_policy_url>{{ feed.settings.set_feed_link_privacy }}</dealer_privacy_policy_url>


		<address format="simple">
			<component name="addr1">{{ feed.dealership_syn_street }}</component>
			<component name="city">{{ feed.dealership_syn_city }}</component>
			<component name="region">{{ feed.dealership_syn_state }}</component>
			<component name="country">{{ feed.dealership_syn_country }}</component>
			<component name="postal_code">{{ feed.dealership_syn_zip}}</component>
		</address>
		<latitude>{{ feed.dealership_syn_lat }}</latitude>
		<longitude>{{ feed.dealership_syn_long }}</longitude>
	</listing>
	{% endfor %}
</listings>
{% endblock %}